* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", cursive;
}

img {
  width: 100%;
  display: block;
}

body {
  background: #f7ead1;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 25rem) {
  .main {
    justify-content: center;
  }
}

.wrapper {
  padding: 2rem;
  display: flex;
  height: 27rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(232, 190, 0, 0.1490196078);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 25rem) {
  .wrapper {
    height: 35rem;
    width: 30rem;
  }
}
@media (min-width: 50rem) {
  .wrapper {
    height: 50rem;
    width: 45rem;
  }
}

.btn,
.input,
.answer,
.title {
  background-color: black;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;
}

.btn {
  margin: 0 auto;
  font-size: 2rem;
  border: 3px solid black;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  border: 4px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 25rem) {
  .btn {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .btn {
    font-size: 4rem;
  }
}

.input {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid black;
  animation-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.input:focus {
  outline: none !important;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 25rem) {
  .input {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .input {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
  }
}

.lives {
  margin-top: 0.5rem;
  opacity: 0;
}

.answer {
  font-size: 2rem;
  height: 5rem;
}
@media (min-width: 25rem) {
  .answer {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .answer {
    font-size: 4rem;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 15rem;
  height: 12rem;
}
@media (min-width: 25rem) {
  .content__wrapper {
    width: 20rem;
    height: 16rem;
  }
}
@media (min-width: 50rem) {
  .content__wrapper {
    width: 30rem;
    height: 24rem;
  }
}

.img {
  position: absolute;
  opacity: 0;
}

.img__ground {
  position: absolute;
}

.title {
  z-index: 100;
  position: absolute;
  bottom: 0.7rem;
  opacity: 0.8;
  font-size: 1.55rem;
}
@media (min-width: 25rem) {
  .title {
    font-size: 2.1rem;
    bottom: 1.2rem;
  }
}
@media (min-width: 50rem) {
  .title {
    font-size: 3.1rem;
    bottom: 2.2rem;
  }
}

.display--none {
  display: none;
}

.visable {
  opacity: 1;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: -41px -69.6666666667px hsl(318, 100%, 50%), -47px -351.6666666667px hsl(178, 100%, 50%), -168px -84.6666666667px hsl(303, 100%, 50%), -198px -403.6666666667px hsl(316, 100%, 50%), -142px -232.6666666667px hsl(1, 100%, 50%), 56px -163.6666666667px hsl(332, 100%, 50%), -97px -281.6666666667px hsl(4, 100%, 50%), 35px -293.6666666667px hsl(117, 100%, 50%), 7px 36.3333333333px hsl(67, 100%, 50%), 123px -370.6666666667px hsl(295, 100%, 50%), 231px -323.6666666667px hsl(295, 100%, 50%), 201px 55.3333333333px hsl(55, 100%, 50%), 132px 45.3333333333px hsl(191, 100%, 50%), -26px -118.6666666667px hsl(98, 100%, 50%), 159px -402.6666666667px hsl(139, 100%, 50%), 84px -312.6666666667px hsl(89, 100%, 50%), 247px -1.6666666667px hsl(171, 100%, 50%), -203px -123.6666666667px hsl(239, 100%, 50%), -229px -393.6666666667px hsl(227, 100%, 50%), -85px -37.6666666667px hsl(213, 100%, 50%), -132px -204.6666666667px hsl(293, 100%, 50%), -47px -196.6666666667px hsl(258, 100%, 50%), 80px 79.3333333333px hsl(303, 100%, 50%), 191px -202.6666666667px hsl(67, 100%, 50%), -84px -384.6666666667px hsl(181, 100%, 50%), 13px 55.3333333333px hsl(203, 100%, 50%), 210px -226.6666666667px hsl(17, 100%, 50%), -132px -153.6666666667px hsl(56, 100%, 50%), 18px -0.6666666667px hsl(229, 100%, 50%), -3px -56.6666666667px hsl(186, 100%, 50%), 248px -391.6666666667px hsl(33, 100%, 50%), 182px 38.3333333333px hsl(203, 100%, 50%), 224px -196.6666666667px hsl(261, 100%, 50%), -216px 53.3333333333px hsl(23, 100%, 50%), 201px -78.6666666667px hsl(332, 100%, 50%), 220px 62.3333333333px hsl(192, 100%, 50%), -150px -330.6666666667px hsl(222, 100%, 50%), -46px 7.3333333333px hsl(351, 100%, 50%), 50px -17.6666666667px hsl(236, 100%, 50%), 135px 0.3333333333px hsl(22, 100%, 50%), 111px 21.3333333333px hsl(302, 100%, 50%), -231px -202.6666666667px hsl(215, 100%, 50%), -179px 5.3333333333px hsl(16, 100%, 50%), 120px -272.6666666667px hsl(130, 100%, 50%), -210px -147.6666666667px hsl(239, 100%, 50%), 173px -280.6666666667px hsl(22, 100%, 50%), -45px -178.6666666667px hsl(333, 100%, 50%), -79px -106.6666666667px hsl(18, 100%, 50%), 188px -267.6666666667px hsl(313, 100%, 50%), -197px -47.6666666667px hsl(297, 100%, 50%), -80px -80.6666666667px hsl(207, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=style.css.map */