* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", cursive;
}

img {
  width: 100%;
  display: block;
}

body {
  background: #f7ead1;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 25rem) {
  .main {
    justify-content: center;
  }
}

.wrapper {
  padding: 2rem;
  display: flex;
  height: 27rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(232, 190, 0, 0.1490196078);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 25rem) {
  .wrapper {
    height: 35rem;
    width: 30rem;
  }
}
@media (min-width: 50rem) {
  .wrapper {
    height: 50rem;
    width: 45rem;
  }
}

.btn,
.input,
.answer,
.title {
  background-color: black;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;
}

.btn {
  margin: 0 auto;
  font-size: 2rem;
  border: 3px solid black;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:active {
  border: 4px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 25rem) {
  .btn {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .btn {
    font-size: 4rem;
  }
}

.input {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid black;
  animation-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.input:focus {
  outline: none !important;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}
@media (min-width: 25rem) {
  .input {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .input {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
  }
}

.lives {
  margin-top: 0.5rem;
  opacity: 0;
}

.answer {
  font-size: 2rem;
  height: 5rem;
}
@media (min-width: 25rem) {
  .answer {
    font-size: 3rem;
  }
}
@media (min-width: 50rem) {
  .answer {
    font-size: 4rem;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 15rem;
  height: 12rem;
}
@media (min-width: 25rem) {
  .content__wrapper {
    width: 20rem;
    height: 16rem;
  }
}
@media (min-width: 50rem) {
  .content__wrapper {
    width: 30rem;
    height: 24rem;
  }
}

.img {
  position: absolute;
  opacity: 0;
}

.img__ground {
  position: absolute;
}

.title {
  z-index: 100;
  position: absolute;
  bottom: 0.7rem;
  opacity: 0.8;
  font-size: 1.55rem;
}
@media (min-width: 25rem) {
  .title {
    font-size: 2.1rem;
    bottom: 1.2rem;
  }
}
@media (min-width: 50rem) {
  .title {
    font-size: 3.1rem;
    bottom: 2.2rem;
  }
}

.display--none {
  display: none;
}

.visable {
  opacity: 1;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 185px -335.6666666667px hsl(282, 100%, 50%), -189px -96.6666666667px hsl(165, 100%, 50%), -236px -185.6666666667px hsl(27, 100%, 50%), 82px 42.3333333333px hsl(169, 100%, 50%), -88px -56.6666666667px hsl(0, 100%, 50%), 25px 12.3333333333px hsl(48, 100%, 50%), 23px -189.6666666667px hsl(261, 100%, 50%), -89px -58.6666666667px hsl(292, 100%, 50%), 29px 77.3333333333px hsl(335, 100%, 50%), 118px -359.6666666667px hsl(184, 100%, 50%), -67px -222.6666666667px hsl(70, 100%, 50%), 108px -53.6666666667px hsl(182, 100%, 50%), -128px -76.6666666667px hsl(145, 100%, 50%), 194px 63.3333333333px hsl(259, 100%, 50%), 199px 51.3333333333px hsl(305, 100%, 50%), 124px -357.6666666667px hsl(113, 100%, 50%), -93px -180.6666666667px hsl(296, 100%, 50%), 187px 47.3333333333px hsl(117, 100%, 50%), 75px -365.6666666667px hsl(240, 100%, 50%), -207px -213.6666666667px hsl(309, 100%, 50%), -18px -191.6666666667px hsl(343, 100%, 50%), 110px -37.6666666667px hsl(86, 100%, 50%), -73px -361.6666666667px hsl(64, 100%, 50%), 141px -92.6666666667px hsl(99, 100%, 50%), 125px -219.6666666667px hsl(86, 100%, 50%), 207px -132.6666666667px hsl(132, 100%, 50%), -39px -248.6666666667px hsl(145, 100%, 50%), -57px -323.6666666667px hsl(338, 100%, 50%), -185px -56.6666666667px hsl(196, 100%, 50%), -156px -123.6666666667px hsl(269, 100%, 50%), 218px -378.6666666667px hsl(258, 100%, 50%), 144px -130.6666666667px hsl(29, 100%, 50%), 47px 38.3333333333px hsl(22, 100%, 50%), 51px -205.6666666667px hsl(120, 100%, 50%), 171px -286.6666666667px hsl(123, 100%, 50%), 207px -163.6666666667px hsl(6, 100%, 50%), -146px -403.6666666667px hsl(354, 100%, 50%), -27px -120.6666666667px hsl(219, 100%, 50%), 178px -266.6666666667px hsl(60, 100%, 50%), -145px -223.6666666667px hsl(304, 100%, 50%), 41px -375.6666666667px hsl(217, 100%, 50%), 86px -107.6666666667px hsl(272, 100%, 50%), 154px -262.6666666667px hsl(5, 100%, 50%), 196px -104.6666666667px hsl(281, 100%, 50%), 224px -43.6666666667px hsl(203, 100%, 50%), -83px 56.3333333333px hsl(336, 100%, 50%), 119px -143.6666666667px hsl(349, 100%, 50%), -163px -376.6666666667px hsl(2, 100%, 50%), -115px -324.6666666667px hsl(328, 100%, 50%), 244px -114.6666666667px hsl(189, 100%, 50%), -188px -17.6666666667px hsl(132, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=style.css.map */