// ______________________RESET__________________________
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
// ______________________GLOBAL_________________________
body {
    // background: #e8be00;
    // background-color: salmon;
    // background: #495e05;
    // background: rgba(187, 163, 4, 0.503);
    // background: rgba(4, 187, 144, 0.503);
    background: #f7ead1;
}
// ______________________STYLES_________________________
.main {
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.input {
    border: none;

    color: black;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0, 1);
    animation-duration: 0.4s;

    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:focus {
        outline: none !important;
        border: 4px solid rgba(0, 0, 0, 1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
    }
    @media (min-width: 25rem) {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
    }

    @media (min-width: 50rem) {
        width: 8rem;
        height: 8rem;
        font-size: 5rem;
    }

    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;
}
.answer {
    font-size: 2rem;
    // height: 5rem;

    @media (min-width: 25rem) {
        font-size: 3rem;
    }

    @media (min-width: 50rem) {
        font-size: 4rem;
    }
}
.img {
    position: absolute;
    opacity: 0;
}
.img__ground {
    position: absolute;
}
.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 15rem;
    height: 12rem;

    @media (min-width: 25rem) {
        width: 20rem;
        height: 16rem;
    }

    @media (min-width: 50rem) {
        width: 30rem;
        height: 24rem;
    }
}
.title {
    z-index: 100;
    position: absolute;
    bottom: 0.7rem;
    opacity: 0.8;
    font-size: 1.55rem;
    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(247, 234, 209, 0.513) 0px 3px 3px;

    @media (min-width: 25rem) {
        font-size: 2.1rem;
        bottom: 1.2rem;
    }

    @media (min-width: 50rem) {
        font-size: 3.1rem;
        bottom: 2.2rem;
    }
}

.red {
    background: red;
}
.wrapper {
    padding: 2rem;
    display: flex;
    height: 25rem;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #e8be00;
    background-color: #e8be0026;

    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @media (min-width: 25rem) {
        height: 35rem;
        width: 25rem;
    }

    @media (min-width: 50rem) {
        height: 45rem;
        width: 35rem;
    }
}
.display--none {
    display: none;
}
.word {
    width: 30rem;
    font-size: 3rem;
}

.lives {
    margin-top: 1rem;
    opacity: 0;
}
.btn {
    padding: 2rem;
    z-index: 300;
    border: none;
    outline: none;

    color: black;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0, 1);

    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:active {
        border: 4px solid rgba(0, 0, 0, 1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
    }
}
.visable {
    opacity: 1;
}
